.cards {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 10.8%;
  max-width: 1100px;
  flex-wrap: wrap;
  position: relative;
  top: 11rem;
  margin-bottom: 15%;
}

@media (min-width: 1000px) {
  .cards {
    width: 2000px;
  }
}

.card {
  text-align: center;
  padding-top: 0px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 14px;
  margin: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  cursor: default;
  background: #ffffff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
  width: 175px;
}

.perfum_name {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bolder;
  word-break: normal;
}

.read_fav {
  display: flex;
  align-items: center;
}

.read_more {
  text-decoration: none;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 5px;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  transition: all 400ms ease;
  margin-left: 8%;
}

.price {
  font-weight: bold;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #805e9e;
}

.btn_fav {
  border-color: none;
  background: none;
  border: none;
  transition: all 400ms ease;
  cursor: pointer;
  font-size: 20px;
  align-items: center;
  padding-top: 5px;
  margin-left: 36%;
}

.btn_favD {
  border-color: none;
  background: none;
  border: none;
  transition: all 400ms ease;
  cursor: pointer;
  font-size: 20px;
  align-items: center;
  padding-top: 5px;
  margin-left: 20%;
}

.btn_cart {
  border-color: none;
  background: none;
  border: none;
  transition: all 400ms ease;
  cursor: pointer;
  font-size: 23px;
  align-items: center;
  padding-top: 5px;
  margin-left: 20%;
}

.sinStock {
  font-weight: bold;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #c40000;
}

.btn_fav:hover {
  color: #805e9e;
}
.btn_cart:hover {
  color: #008000;
}

.btn_ml {
  font-size: 12px;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  background: #f4f4f4;
  color: #000000;
  border-radius: 4px;
  border-color: #000000;
  border: 1px solid #f1f1f1;
  margin-left: 8px;
  cursor: pointer;
  transition: all 400ms ease;
  font-weight: bold;
}

.btn_ml:hover {
  border-color: #bfbfbf;
}

.read_more:hover {
  background: #e5e5e5;
  color: #000000;
  border-color: #000000;
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-1.5%);
}
