.container {
  width: calc(100% - 40px);
  color: #6c7293;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 2px;
  padding-top: 70px;
  position: relative;
}

.card {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  gap: 20px;
  /* background-color: aqua; */
}

.hr {
  border: 0;
  border-top: 2px solid #6c7293;
}

.columnHeader {
  width: calc(100% + 40px);
  height: 50px;
  background-color: #ffffff7a;
  position: absolute;
  top: -20px;
  left: -20px;
  display: flex;
  align-items: center;
}

.title {
  font-style: italic;
  text-align: center;
  margin-left: 35px;
}

.title_number {
  font-style: italic;

  width: 145px;
  text-align: center;
}
.container_info_button button {
  font-size: 1rem;
  padding: 10px;
  background-color: transparent;
  border: none;
  outline: solid 1px red;
  color: red;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.9;
  display: flex;
}
.green button {
  color: green;
  outline: solid 1px green;
}
.container_info_button:hover button {
  opacity: 1;
}
.container_img {
  width: 120px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.container_info {
  width: 180px;
  text-align: center;
}
.container_info_number {
  min-width: 130px;
  text-align: center;
}

.container_info_number h4 {
  margin-bottom: 5px;
}
/* edit */
.container_info input {
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 4px;
  background-color: transparent;
  color: #fff;
  border-radius: 5px;
}
.container_info_number input {
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 4px;
  background-color: transparent;
  color: #fff;
  border-radius: 5px;
}
